input[type=checkbox][data-v-7ede9e23]{padding:0}.mask[data-v-e39e314a]{background-image:linear-gradient(90deg,var(--color-background) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,var(--color-background) 100%)}
