@import 'tailwindcss';
@custom-variant dark (&: where(.dark, .dark *));

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #f8fdff;
  --color-base-200: #f0f6fd;
  --color-base-300: #e7f2fc;
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #30ddff;
  --color-primary-content: oklch(0.933, 0.093, 210.26);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.47, 0.457, 137.45);
  --color-accent-content: oklch(0.933, 0.093, 210.26);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.682, 0.712, 2.59);
  --color-error-content: oklch(0.933, 0.093, 210.26);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false; /* 暗色主题不是默认 */
  prefersdark: true; /* 设置为暗色模式 (prefers-color-scheme:dark) */
  color-scheme: dark; /* 浏览器 UI 的颜色模式为暗色 */

  --color-base-100: #30373c; /* 深色背景 */
  --color-base-200: #2c313a; /* 稍亮的背景 */
  --color-base-300: #232229; /* 更亮的背景 */
  --color-base-content: #ffffff; /* 浅色内容文本，纯白或接近白色 */
  --color-primary: #6cd9fe; /* 主色：紫色 */
  --color-primary-content: #ffffff; /* 主色内容文本，通常是浅色 */
  --color-secondary: #3b3f47; /* 次要色：蓝色 */
  --color-secondary-content: #ffffff; /* 次要色内容文本 */
  --color-accent: #ff6f61; /* 强调色：红色 */
  --color-accent-content: #ffffff; /* 强调色内容文本 */
  --color-neutral: oklch(20% 0.05 240); /* 中性色：灰色 */
  --color-neutral-content: oklch(90% 0.1 240); /* 中性色内容文本 */
  --color-info: oklch(50% 0.2 220); /* 信息色：蓝色 */
  --color-info-content: oklch(90% 0.1 220); /* 信息色内容文本 */
  --color-success: oklch(50% 0.25 140); /* 成功色：绿色 */
  --color-success-content: oklch(90% 0.1 140); /* 成功色内容文本 */
  --color-warning: oklch(50% 0.3 80); /* 警告色：黄色 */
  --color-warning-content: oklch(10% 0.05 80); /* 警告色内容文本 */
  --color-error: oklch(40% 0.3 30); /* 错误色：红色 */
  --color-error-content: oklch(90% 0.1 30); /* 错误色内容文本 */

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
