@plugin "daisyui";
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 默认主题 */
  --color-background: #f8fcff;
  --color-background-content: #666666; /*主文本颜色*/
  --color-text-white: #ffffff; /* 白色文本 */
  --color-border: linear-gradient(to bottom right, #ff7e5f, #feb47b) 1;
  /* 卡片边框 */
  --color-border: 1px solid rgba(204, 204, 204, 0.6);
  /* 主色 */
  --color-gray: #d1d5db;
  --color-gray-content: #666666; /* 次文本颜色 */
  --color-active: #30ddff; /* 激活状态颜色 */
  --color-active-content: #ffffff; /* 激活状态内容颜色 */
  --color-like: #f43098; /* 点赞颜色 */
  --color-bad: #f43098; /* 点踩颜色 */

  /* 自定义颜色*/
  --color-green: #1ec041;
  --shadow-card: 2px 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-card-md: 4px 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-card-dark:
    2px 2px 4px rgba(255, 255, 255, 0.05),
    -2px -2px 4px rgba(255, 255, 255, 0.15);
  --shadow-card-md-dark:
    4px 6px 6px rgba(255, 255, 255, 0.05),
    -4px -4px 8px rgba(255, 255, 255, 0.15);
}

@layer base {
  /* 暗色主题 */
  .dark {
    --color-background: #2a2f34;
    --color-background-content: rgba(255, 255, 255, 0.9); /*普通文字*/
    --color-text-white: #ffffff; /* 白色文本 */
    /* 卡片边框 */
    --color-border: 1px solid rgba(204, 204, 204, 0.6);

    /* 主色 */
    --color-white: #26282c;
    --color-gray: #444546;
    --color-gray-content: #8b8b8b;
    --color-bad: #f43098; /* 点踩颜色 */
    --color-like: #f43098; /* 点赞颜色 */
    --color-active: #66ccff; /* 激活状态颜色 */
    --color-active-content: #ffffff; /* 激活状态内容颜色 */

    /* 特定颜色修改 */
    --color-green: #35dc5a; /* 绿色 */
  }
}

@layer base {
  p,
  div,
  a,
  li,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-background-content);
  }
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-primary: #66ccff;
  --color-primary-content: oklch(0.933, 0.093, 210.26);
  --color-secondary: oklch(80% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.47, 0.457, 137.45);
  --color-accent-content: oklch(0.933, 0.093, 210.26);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: #ff627d; /* 错误色：红色 */
  --color-error-content: oklch(98% 0.01 30); /* 错误色内容文本 */
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false; /* 暗色主题不是默认 */
  prefersdark: true; /* 设置为暗色模式 (prefers-color-scheme:dark) */
  color-scheme: dark; /* 浏览器 UI 的颜色模式为暗色 */

  --color-primary: #66ccff; /* 主色：蓝色 */
  --color-primary-content: #ffffff; /* 主色内容文本，通常是浅色 */
  --color-secondary: oklch(50% 0.2 200); /* 次要色：蓝色 */
  --color-secondary-content: #ffffff; /* 次要色内容文本 */
  --color-accent: #ff6f61; /* 强调色：红色 */
  --color-accent-content: #ffffff; /* 强调色内容文本 */
  --color-neutral: oklch(20% 0.05 240); /* 中性色：灰色 */
  --color-neutral-content: oklch(90% 0.1 240); /* 中性色内容文本 */
  --color-info: oklch(50% 0.2 220); /* 信息色：蓝色 */
  --color-info-content: oklch(90% 0.1 220); /* 信息色内容文本 */
  --color-success: oklch(50% 0.25 140); /* 成功色：绿色 */
  --color-success-content: oklch(90% 0.1 140); /* 成功色内容文本 */
  --color-warning: oklch(70% 0.25 70); /* 警告色：黄色 */
  --color-warning-content: oklch(10% 0.05 80); /* 警告色内容文本 */
  --color-error: oklch(40% 0.3 30); /* 错误色：红色 */
  --color-error-content: oklch(90% 0.1 30); /* 错误色内容文本 */
}
