@plugin "daisyui";
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 背景 */
  --color-background: #faffff;
  --color-background-content: #555555; /*主文本颜色*/
  --color-text-white: #ffffff; /* 白色文本 */
  --color-text-black: #000000;
  --color-text-gray: #adb3b3;

  /* 主色 */
  --color-gray: #adb3b3;
  --color-gray-content: #666666; /* 次文本颜色 */
  --color-active: #30ddff; /* 激活状态颜色 */
  --color-active-content: #ffffff; /* 激活状态内容颜色 */
  --color-like: #f43098; /* 点赞颜色 */
  --color-bad: #f43098; /* 点踩颜色 */
  --color-link: #66ccff;

  /* 自定义颜色 */
  --color-green: #1ec041;
  --color-pink: #e60076; /* 粉色 */
  --color-pink-content: #fce7f3; /* 粉色内容文本 */
  --color-gray-200: #dde0e0; /* 骨架屏背景 */

  /* 其他效果修改 */
  --color-border: 1px solid rgba(204, 204, 204, 0.6); /* 卡片边框 */
  --shadow-card: 2px 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-card-md: 4px 4px 8px rgba(0, 0, 0, 0.15);

  --color-table-border: #cccccc; /* 表格边框颜色 */
  --color-table-header-background: #f5f5f5; /* 表头背景色 */
  --color-table-blockquote-background: #f9f9f9; /* 引用块背景色 */
}

@layer base {
  /* 暗色主题 */
  .dark {
    /* 背景 */
    --color-background: #2a2f34;
    --color-background-content: #b4bbcd; /*普通文字*/
    --color-text-white: #b4bbcd; /* 白色文本 */
    --color-text-black: #ffffff;
    --color-text-gray: #8b8b8b; /* 次文本颜色 */

    /* 主色 */
    --color-white: #222326;
    --color-gray: #363738;
    --color-gray-content: #8b8b8b;
    --color-bad: #c81c6a; /* 点踩颜色 */
    --color-like: #c81c6a; /* 点赞颜色 */
    --color-active: #3399bb; /* 激活状态颜色 */
    --color-active-content: #e0e0e0; /* 激活状态内容颜色 */
    --color-link: #66ccff;

    /* 特定颜色修改 */
    --color-green: #249c3e; /* 绿色 */
    --color-pink: #b8005c; /* 粉色 */
    --color-pink-content: #e8c2d8; /* 粉色内容文本 */
    --color-gray-200: #32363b; /* 骨架屏背景 */

    /* 其他效果修改 */
    --color-border: 1px solid rgba(120, 120, 120, 0.4); /* 卡片边框 */
    --shadow-card:
      2px 2px 4px rgba(0, 0, 0, 0.12), -2px -2px 4px rgba(0, 0, 0, 0.18);
    --shadow-card-md:
      4px 6px 6px rgba(0, 0, 0, 0.12), -4px -4px 8px rgba(0, 0, 0, 0.18);
    --color-table-border: #8b8b8b; /* 表格边框颜色 */
    --color-table-header-background: #363738; /* 表头背景色 */
    --color-table-blockquote-background: #32363b; /* 引用块背景色 */
  }
}

@layer base {
  p,
  div,
  a,
  li,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-background-content);
  }
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* 已使用 */
  --color-error: #ff627d; /* 错误色：红色 */
  --color-error-content: oklch(98% 0.01 30); /* 错误色内容文本 */
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: #ffffff;
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-secondary: oklch(80% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-primary: #66ccff;
  --color-primary-content: oklch(0.933, 0.093, 210.26);
  --color-base-100: #f0f0f0; /* 骨架屏高亮 */
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false; /* 暗色主题不是默认 */
  prefersdark: true; /* 设置为暗色模式 (prefers-color-scheme:dark) */
  color-scheme: dark; /* 浏览器 UI 的颜色模式为暗色 */

  /* 已使用 */
  --color-error: oklch(40% 0.3 30); /* 错误色：红色 */
  --color-error-content: oklch(90% 0.1 30); /* 错误色内容文本 */
  --color-warning: oklch(70% 0.25 70); /* 警告色：黄色 */
  --color-warning-content: #ffffff; /* 警告色内容文本 */
  --color-success: oklch(50% 0.25 140); /* 成功色：绿色 */
  --color-success-content: oklch(90% 0.1 140); /* 成功色内容文本 */
  --color-info: oklch(50% 0.2 220); /* 信息色：蓝色 */
  --color-info-content: oklch(90% 0.1 220); /* 信息色内容文本 */
  --color-secondary: oklch(50% 0.2 200); /* 次要色：蓝色 */
  --color-secondary-content: #ffffff; /* 次要色内容文本 */
  --color-primary: #66ccff; /* 主色：蓝色 */
  --color-primary-content: #ffffff; /* 主色内容文本，通常是浅色 */
  --color-base-100: #525d69; /* 骨架屏高亮 */
}
