.tiptap.ProseMirror {
  min-height: 20rem;
  max-height: calc(100vh - 16rem);
  overflow: auto;
  border-radius: 8px;
  padding: 2rem;
  border: 1px solid #cccccc99;
  will-change: box-shadow;
  transition: box-shadow 0.2s;
  box-shadow:
    inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    inset -10px -10px 10px rgba(255, 255, 255, 0.5);
}

.tiptap.ProseMirror.ProseMirror-focused {
  outline: none !important;
  box-shadow:
    inset 10px 10px 20px rgba(0, 0, 0, 0.025),
    inset -10px -10px 20px rgba(255, 255, 255, 0.25);
}

.tiptap {
  color: black;
}

.tiptap > *:first-child {
  margin-top: 0 !important;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul {
  list-style: unset;
}

.tiptap ol {
  list-style: decimal;
}

.tiptap ol ol {
  list-style: lower-alpha;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

.tiptap h1:before,
.tiptap h2:before,
.tiptap h3:before,
.tiptap h4:before,
.tiptap h5:before,
.tiptap h6:before {
  position: absolute;
  color: #999;
  font-family: monospace;
  font-size: 0.8rem;
  transform: translateX(calc(-100% - 4px));
}

.tiptap.ProseMirror h1:before {
  content: '#';
}

.tiptap.ProseMirror h2:before {
  content: '##';
}

.tiptap.ProseMirror h3:before {
  content: '###';
}

.tiptap.ProseMirror h4:before {
  content: '#H4';
}

.tiptap.ProseMirror h5:before {
  /* Updated to include .ProseMirror */
  content: '#H5';
}

.tiptap.ProseMirror h6:before {
  /* Updated to include .ProseMirror */
  content: '#H6';
}

.tiptap code {
  background-color: color-mix(in srgb, skyblue 30%, white);
  border-radius: 0.4rem;
  color: black;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: black;
  border-radius: 0.5rem;
  color: white;
  font-family:
    'JetBrainsMono', 'Fira Code', 'PingFang SC', 'Microsoft YaHei', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap hr {
  border: none;
  border-top: 1px solid gray;
  margin: 2rem 0;
}

.tiptap mark {
  background-color: #ffe066;
  padding: 0.125em 0;
  border-radius: 0.25em;
  box-decoration-break: clone;
}
.tiptap {
  :first-child {
    margin-top: 0;
  }

  pre {
    background: #1e1e1e;
    border-radius: 0.5rem;
    color: var(--color-white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
    white-space: pre-wrap;
    overflow: auto; /* Added overflow property */
    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
