@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}
