@import './assets/theme.css';
@import './assets/tiptap.css';

body {
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

:root {
  --cp-container-bg: var(--color-background);
}

* {
  transition: all 0.2s in-out;
}

.no-select {
  user-select: none;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.neumorphism {
  position: relative;
  &:before {
    content: '';
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    will-change: box-shadow;
    transition: box-shadow 0.5s ease;
    box-shadow:
      10px 10px 15px rgba(0, 0, 0, 0.1),
      5px 5px 5px rgba(0, 0, 0, 0.05),
      -10px -10px 20px rgba(255, 255, 255, 0.5),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
    user-select: none;
    pointer-events: none;
    z-index: 0;
  }
}

.modal-backdrop {
  button {
    cursor: auto;
  }
}

.Vue-Toastification__toast-body {
  color: #fff;
}

.ck-cp-container {
  left: 0;
  background-color: var(--color-background);
  border-radius: var(--radius-lg);
  padding: 0;
  width: 270px;
  height: auto;
  box-shadow: none;
  border: var(--tw-border-style) 1px var(--color-gray);
  padding-bottom: calc(var(--margin-top) * 1.5);
  padding-top: var(--margin-top);
}

.cp-btn,
.cp-main-btn,
.ck-cp-input-content input {
  background-color: transparent;
}

.ck-cp-input-container .ck-cp-input-content .ck-cp-input-label {
  background: var(--color-background);
}

.Vue-Toastification__toast.Mobile-toast-class {
  min-width: 70vw;
  max-width: 70vw;
  min-height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  left: -35vw;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0;
  border-radius: var(--radius-lg);
}

.Vue-Toastification__container.Mobile-Toast-container {
  padding: 0 50vw;
}
